# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# 깃허브 업로드할 떄 이걸 뺴고 올리라고 참고해주는것

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
